<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293376340870-12sujf273slp7tl23oh5nbg2fc8oi7g0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293376340870-12sujf273slp7tl23oh5nbg2fc8oi7g0</string>
	<key>API_KEY</key>
	<string>AIzaSyAXINwhSQjtvK1B163AFzgz4o-YDKm-vOM</string>
	<key>GCM_SENDER_ID</key>
	<string>293376340870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nudelman.Noalek-Patisserie</string>
	<key>PROJECT_ID</key>
	<string>noalek-patisserie-149d4</string>
	<key>STORAGE_BUCKET</key>
	<string>noalek-patisserie-149d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293376340870:ios:5b1674d328ae713967b207</string>
</dict>
</plist>